:root {
    --mdc-theme-primary: #7ecefd;
    --mdc-theme-background: #000;
    --mdc-theme-text-primary-on-background: #000;
}

#main {
    /*margin-top: 40px;*/
    transform: translateY(50%);
}

.mdc-layout-grid__cell{
    /*width: 150%;*/
}
#search-form > button {
    margin-top: 18px;
    width: 50%;
    height: 50px;
}

body {
    text-align: center;
}
input {
    width: 300px;
}