@import "../@material/button/mixins";
.mdc-button.mdc-button--raised {
  //@include mdc-button-filled-accessible(#FF9800);
}



$mdc-theme-primary: #7ecefd; //
$mdc-theme-primary-dark: #479dca;
$mdc-theme-primary-light: #b3ffff;
$mdc-theme-secondary: #42a5f5;
$mdc-theme-primary-light:#b3ffff;
$mdc-theme-secondary-dark: #479dca;

@import "../@material/theme/mdc-theme";

